*{
    box-sizing: border-box;
    background-color: #F7F4ED;
    margin-top: 0;
    margin: 0;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: black;
    font-family: 'Lora', serif;
    text-decoration: none;
    font-size: 15px;
    color: inherit; /* Inherit the color from the parent element */
}

html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
}
